export(
	seqFormat,
	kaksCodon,
	kaksAA,
	ckaksCodon,
	ckaksAA,
	miCodon,
	miAA,
	jiAA,
	biCkaksCodon,
	biCkaksAA,
	biMICodon,
	biMIAA,
	biJIAA,
	seq_num.CorMut,
	kaks.CorMut,
	lod.CorMut,
	q.CorMut,
	ka.CorMut,
	ks.CorMut,
	mi.CorMut,
	p.value.CorMut,
	ckaks.CorMut,
	method.CorMut,
	positiveSite01.CorMut,
	positiveSite02.CorMut,
	state_1.CorMut,
	statistic_1.CorMut,
	state_2.CorMut,
	statistic_2.CorMut
)
exportClasses(
	kaksCodon,
	kaksAA,
	ckaks,
	MI,
	biCkaksCodon,
	biCkaksAA,
	biMICodon,
	biMIAA,
	biJIAA
)
exportMethods( 
	filterSites,
	plot,
	biCompare
)