export(
	seqFormat,
	kaksCodon,
	kaksAA,
	ckaksCodon,
	ckaksAA,
	miCodon,
	miAA,
	biCkaksCodon,
	biCkaksAA,
	biMICodon,
	biMIAA,
	seq_num,
	kaks,
	lod,
	q,
	ka,
	ks,
	mi,
	p.value,
	ckaks,
	method,
	positiveSite01,
	positiveSite02,
	state_1,
	statistic_1,
	state_2,
	statistic_2
)
exportClasses(
	kaksCodon,
	kaksAA,
	ckaks,
	MI,
	biCkaksCodon,
	biCkaksAA,
	biMICodon,
	biMIAA
)
exportMethods( 
	filterSites,
	plot,
	biCompare
)